.vevent {
  padding-block-end: var(--spacing-5);
}

.event-date-start {
  display: block;
  font-size: var(--font-size-medium);
  font-weight: 700;
}

.event-time-start,
.event-time-end,
.event-venue {
  font-size: var(--font-size-medium);
}


.event-contact {
  margin-block: var(--spacing-8);
}
.event-contact-name,
.event-contact-email,
.event-content-tel {
  display: block;
}