/* Cards  ((Critical: All) */

.c-school-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--grid-column-gap);
  margin-bottom: var(--spacing-large);
  align-items: start;
}

.c-school-card-image {
  align-items: start;
}

.c-school-cards > h2+p {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-text);
}

.c-school-card-image img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}

[class*="ucla-ps-cards"],
[class*="ucla-ps-cards"] > * {
margin-bottom: var(--spacing-large);
}

@media (min-width: 60em) {
  [class*="ucla-ps-cards"] {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  grid-template-columns: var(--grid-4-5);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  }

  [class*="grid"] > * {
  margin-bottom: 0;
  }
}

.story__secondary {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}


