.hamburger {
  position: absolute;
  right: -16px;
  top: -50px;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 2px;

  &:focus {
    outline: 1px dotted $hover-state;
    outline-offset: -8px;
  }

  &:hover {
    opacity: 1;
    background: $hover-state;

    .hamburger-inner {
      background: $white !important;

      &::before,
      &::after {
        background: $white !important;
      }
    }
  }

  &.is-active {
    &:hover {
      opacity: 1;
    }
  }

  @media (min-width: $mq-md) {
    top: -50px;
    right: 24px;
  }

  @media (min-width: $mq-lg) {
    display: none;
  }

  &-box {
    width: 24px;
    height: 6px;
    right: 6px;

    span {
      width: 24px;
      height: 3px;
      background: $ucla-blue !important;
      border-radius: 0;

      &::before,
      &::after {
        width: 24px;
        height: 3px;
        background: $ucla-blue !important;
        border-radius: 0;
      }

      &::before {
        top: -8px;
      }

      &::after {
        bottom: -8px;
        
      }
    }
  }
}
