//  =====================================================
//  HTML Living Standard
//  Sections elements
//  https://html.spec.whatwg.org/multipage/sections.html
//  body, article, section, nav, aside, hgroup, header, footer, address
//  ======================================================

/* HTML/body ((Critical: All) */

html {
-webkit-text-size-adjust: 100%;
overflow-x: hidden;
scroll-behavior: smooth;
font-size: 1em;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
  scroll-behavior: auto;
  }
}

body {
margin: 0;
padding: 5px;
min-height: 100vh;
background-color: var(--color-background);
color: var(--color-text-default);
font-family: var(--font-family-default);
font-feature-settings: liga 1;
font-weight: var(--font-weight-default);
line-height: var(--line-height-text);
}

@supports (font-variant-ligatures: common-ligatures) {
  body {
  font-feature-settings: normal;
  font-variant-ligatures: common-ligatures;
  }
}

.color-theme {
fill: var(--color-theme);
}

/* Article (Critical: All) */
article {
margin-bottom: var(--spacing-default);
}

/* header */

header.alt svg {
margin-bottom: var(--spacing-medium);
}

header.alt .tagline {
font-weight: var(--font-weight-bold);
font-size: var(--font-size-large);
line-height: var(--lineheight-heading-default);
}

header.alt article a {
  display: block;
}

@media (min-width: 60em) {
  header.alt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  }

  header.alt svg {
  grid-column: 1 / -1;
  }

  header.alt article {
  grid-column: 1 / -1;
  margin-top: var(--spacing-medium);
  }
}
